@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --background-color: #c8a5c2;
    --header-color: #b885b3;
    --text-color: whitesmoke;
    --movie-bg-color: #e5c8e5;
}

/* universal changes */
*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
}

/* body changes */
body{
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
}

/* changes main */
main{
    /* margin: 2rem; */
    width: 90%;
    margin-inline: auto;
}

/* change the header */
header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--header-color);
    font-family: inherit;
    
}

/* Change the Website Title */
h1{
    display: flex;
    justify-content: left;
    font-weight: bolder;
    color: var(--text-color);
}

/* search box */
.search{
    background-color: transparent;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.6rem 4rem;
    color: var(--text-color);
    border: 2px solid var(--background-color);
}

.search:focus{
    outline: none;
    background-color: var(--background-color);
}

/* grid layout */

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
    margin-top: 4rem;
}

.card{
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
}


/* card container */

img{
    max-width: 100%;
}

.card{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
   width: 350px; 
}

.card-header{
    height: 200px;
}

.card-header img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card-content{
    background-color: #fff;
    padding: 30px;
}

.card-title{
    height: 20px;
    margin: 0;
}

.card-excerpt{
    color: #777;
    margin: 10px 0 20px;
}

.author{
    display: flex;
}

.profile-img{
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
}

.author-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    width: 100px;
}

.author-info small{
    color: #aaa;
    margin-top: 5px;
}

/* --------------------------Animation--------------------------- */
.animated-bg{
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 10%, #f6f7f8 20%, #f6f7f8 100%);
    background-size: 200% 100%;
    animation: bgPos 1s linear infinite;
}

.animated-bg-text{
    border-radius: 50px;
    display: inline-block;
    margin: 0;
    height: 10px;
    width: 100%;
}

@keyframes bgPos{
    0%{
        background-position: 50% 0;
    }

    100%{
        background-position: -150% 0;
    }
}